<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="panels">
      <ion-button fill="clear">
        <ion-label>its.ranaji008</ion-label>
      </ion-button>
      <div>
        <ion-button fill="clear">
          <ion-icon name="add"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="onLogout()">
          <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Pull to Refresh Component -->
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content 
      pullingIcon="chevron-down-circle-outline" 
      pullingText="Pull down to refresh" 
      refreshingSpinner="circles" 
      refreshingText="Fetching profile...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="container">
    <section class="profile-panel">
      <div class="profileDetails">
        <div class="profile-avatar">
          <ion-avatar>
            <ion-img [src]="getUserAvatar()" alt="User"></ion-img>
          </ion-avatar>
        </div>

        <div class="profile-content">
          <h2>{{fullname}}</h2>
          <div class="follow-list">
            <div class="list">
              <p>{{postNumber}}</p>
              <p>posts</p>
            </div>
            <div class="list">
              <p>{{follower}}</p>
              <p>followers</p>
            </div>
            <div class="list">
              <p>{{following}}</p>
              <p>following</p>
            </div>
          </div>
        </div>
      </div>

      <div class="creator">
        <h2>Digital Creator</h2>
      </div>

      <div class="profileBio">
        <p>💡 chasing moments & light<br>
          📍 [Roorkee, UK]<br>
          📸 capturing reality, one frame at a time. ✨ <br>
          📩 contact / collab: Him@gmail.com<br>
        </p>
        <!-- <ion-button (click)="updatePost()">
          Update Post
        </ion-button>
        
        <ion-button (click)="updateFollower()">
          Update Follower
        </ion-button>
        
        <ion-button (click)="followingBtn()">
          Update Following
        </ion-button> -->
      </div>

      <div class="add-links">
        <ion-button shape="round" fill="clear" size="small">
          <ion-icon slot="icon-only" name="link-outline"></ion-icon>
          <span>Add link's</span>
        </ion-button>
      </div>

      <div class="profile-buttons">
        <ion-button class="edit-btn" shape="round" fill="clear" size="small" (click)="editProfile()">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
          <span>Edit Profile</span>
        </ion-button>
        <ion-button class="share-btn" shape="round" fill="clear" size="small">
          <ion-icon lot="icon-only" name="share-social-outline"></ion-icon>
          <span>Share Profile</span>
        </ion-button>
        <ion-button class="follow-btn" shape="round" fill="clear" size="small">
          <ion-icon lot="icon-only" name="add-outline"></ion-icon>
        </ion-button>
      </div>
    </section>

    <section class="highlight-panel">
      <div class="highlight-context">
        <ion-button class="add-btn" shape="round" fill="clear">
            <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
        <span>Add</span>
      </div>
      <div class="highlight-context">
        <ion-avatar class="story">
            <ion-img [src]="'assets/images/neo_pixel.jpg'" alt="User Avatar"></ion-img>
        </ion-avatar>
        <span>New York</span>
      </div>
      <div class="highlight-context">
        <ion-avatar class="story">
            <ion-img [src]="'assets/images/luna_art.jpg'" alt="User Avatar"></ion-img>
        </ion-avatar>
        <span>Fashion</span>
      </div>
      <div class="highlight-context">
        <ion-avatar class="story">
            <ion-img [src]="'assets/images/travel_joy.jpg'" alt="User Avatar"></ion-img>
        </ion-avatar>
        <span>Work</span>
      </div>
      <div class="highlight-context">
        <ion-avatar class="story">
            <ion-img [src]="'assets/images/Post2.jpg'" alt="User Avatar"></ion-img>
        </ion-avatar>
        <span>Travel</span>
      </div>
    </section>

    <section class="user-content">
      <div class="header-bar">
        <ion-segment [(ngModel)]="activeTab" mode="md" class="profile-tabs">
          <ion-segment-button value="posts">
            <ion-icon [name]="activeTab === 'posts' ? 'grid' : 'grid-outline'"></ion-icon>
          </ion-segment-button>

          <ion-segment-button value="drafts">
            <ion-icon [name]="activeTab === 'drafts' ? 'musical-notes' : 'musical-notes-outline'"></ion-icon>
          </ion-segment-button>

          <ion-segment-button value="replays">
            <ion-icon [name]="activeTab === 'replays' ? 'sync-circle' : 'sync-circle-outline'"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </div>

      <div [ngSwitch]="activeTab" class="files">

        <div *ngSwitchCase="'posts'" class="grid-main">
          <div class="grid-box">
            <ion-img src="https://images.unsplash.com/photo-1508804185872-d7badad00f7d"></ion-img>
            <span class="view-count"><ion-icon name="play-outline"></ion-icon> 120</span>
          </div>
          <div class="grid-box">
            <ion-img src="https://images.unsplash.com/photo-1508804185872-d7badad00f7d?auto=format&fit=crop&w=600&q=80"></ion-img>
            <span class="view-count"><ion-icon name="play-outline"></ion-icon> 12</span>
          </div>
          <div class="grid-box">
            <ion-img src="https://images.unsplash.com/photo-1518709268805-4e9042af9f23?auto=format&fit=crop&w=600&q=80"></ion-img>
            <span class="view-count"><ion-icon name="play-outline"></ion-icon> 10</span>
          </div>
          <div class="grid-box">
            <ion-img src="https://images.unsplash.com/photo-1493976040374-85c8e12f0c0e?auto=format&fit=crop&w=600&q=80"></ion-img>
            <span class="view-count"><ion-icon name="play-outline"></ion-icon> 150</span>
          </div>
          <div class="grid-box">
            <ion-img src="https://images.unsplash.com/photo-1534447677768-be436bb09401?auto=format&fit=crop&w=600&q=80"></ion-img>
            <span class="view-count"><ion-icon name="play-outline"></ion-icon> 250</span>
          </div>
          <div class="grid-box">
            <ion-img src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?auto=format&fit=crop&w=600&q=80"></ion-img>
            <span class="view-count"><ion-icon name="play-outline"></ion-icon> 1,290</span>
          </div>
          <div class="grid-box">
            <ion-img src="https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?auto=format&fit=crop&w=600&q=80"></ion-img>
            <span class="view-count"><ion-icon name="play-outline"></ion-icon> 190</span>
          </div>
          <div class="grid-box">
            <ion-img src="https://images.unsplash.com/photo-1469474968028-56623f02e42e?auto=format&fit=crop&w=600&q=80"></ion-img>
            <span class="view-count"><ion-icon name="play-outline"></ion-icon> 8</span>
          </div>
          <div class="grid-box">
            <ion-img src="https://images.unsplash.com/photo-1501785888041-af3ef285b470?auto=format&fit=crop&w=600&q=80"></ion-img>
            <span class="view-count"><ion-icon name="play-outline"></ion-icon> 80</span>
          </div>
          <div class="grid-box">
            <ion-img src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=600&q=80"></ion-img>
            <span class="view-count"><ion-icon name="play-outline"></ion-icon> 10</span>
          </div>
        </div>

        <div *ngSwitchCase="'drafts'" class="grid-main">
          <div class="grid-box">
            <ion-img src="https://images.unsplash.com/photo-1493976040374-85c8e12f0c0e?auto=format&fit=crop&w=600&q=80"></ion-img>
            <span class="draft-badge">Draft</span>
          </div>
          <div class="grid-box">
            <ion-img src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=600&q=80"></ion-img>
            <span class="draft-badge">Draft</span>
          </div>
        </div>

        <div *ngSwitchCase="'replays'" class="grid-main">
          <div class="grid-box">
            <ion-img src="https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?auto=format&fit=crop&w=600&q=80"></ion-img>
          </div>
          <div class="grid-box">
            <ion-img src="https://images.unsplash.com/photo-1534447677768-be436bb09401?auto=format&fit=crop&w=600&q=80"></ion-img>
          </div>
        </div>
      </div>
    </section>
  </div>
</ion-content>
