<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registration</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">

  <!-- Background particles -->
  <canvas #particleCanvas class="particle-canvas"></canvas>

  <!-- Background decoration -->
  <div class="background-decoration">
    <div class="glow glow-one"></div>
    <div class="glow glow-two"></div>
    <div class="glow glow-three"></div>
  </div>

  <!-- Top Logo -->
  <header class="top-header">

    <div class="brand">
      <span class="brand-circle"></span>

      <h1>Social Circle</h1>
    </div>

    <a class="desktop-login" href="#">
      Login
    </a>

  </header>


  <!-- Main Content -->
  <main class="main-container">

    <!-- Welcome Header -->
    <div class="welcome-section">

      <h2>Join the Circle.</h2>

      <p>
        Where creators connect and the digital pulse comes alive.
      </p>

    </div>


    <!-- Signup Card -->
    <section class="signup-card">

      <!-- Card Decoration -->
      <div class="card-decoration"></div>


      <form>

        <!-- Full Name -->
        <div class="form-group">

          <label>Full Name</label>

          <div class="input-wrapper">

            <ion-icon name="person-outline"></ion-icon>

            <input
              type="text"
              placeholder="Alex Rivera"
            />

          </div>

        </div>


        <!-- Email -->
        <div class="form-group">

          <label>Email</label>

          <div class="input-wrapper">

            <ion-icon name="at-outline"></ion-icon>

            <input
              type="email"
              placeholder="alex@creators.io"
            />

          </div>

        </div>


        <!-- Mobile Number -->
        <div class="form-group">

          <label>Mobile Number</label>

          <div class="input-wrapper">

            <ion-icon name="phone-portrait-outline"></ion-icon>

            <input
              type="tel"
              placeholder="+1 (555) 000-0000"
            />

          </div>

        </div>


        <!-- Password -->
        <div class="form-group">

          <label>Password</label>

          <div class="input-wrapper">

            <ion-icon name="lock-closed-outline"></ion-icon>

            <input
              type=text
              placeholder="••••••••"
            />

            <button
              type="button"
              class="password-toggle"
            >

              <ion-icon
                name="eye-outline">
              </ion-icon>

            </button>

          </div>

        </div>


        <!-- Sign Up Button -->
        <div class="button-container">

          <button
            type="button"
            class="signup-button">

            <span>Sign Up</span>

            <ion-icon name="arrow-forward-outline"></ion-icon>

          </button>

        </div>

      </form>


      <!-- Terms -->
      <div class="terms">

        <p>
          By signing up, you agree to our
          <a href="#">Terms</a>
          &
          <a href="#">Privacy Policy</a>.
        </p>

      </div>

    </section>


    <!-- Profile Images -->
    <div class="profile-teasers">

      <img
        src="https://lh3.googleusercontent.com/aida-public/AB6AXuCBDINAECxFp3qnoDphDcAUy59oeT9Ku4rblZUXLvPP0CW3SzWf0f5F1_ZDAuqkVd74ZzzOzXhALhJeYoPEVT0ces-O9vZa9nSgSnIvky_G9PRlAlhsZWvz6Zl6ryaNRxhtcqdtEJjKk5RsxELBd1Rgc-uRSiRgNkbnKEguSFbVvGI_r0F_5XVxD5A5ITaygA7Gs4j0PvJFJ06RPfmGqrQ7yu07A-cWrLAFJEmKDfPZY-lEj11biG9ABf3TsMgOPlPvYNVxmFtWJp8"
        alt="Creator"
      />

      <img
        src="https://lh3.googleusercontent.com/aida-public/AB6AXuCN31FfUNAbjLsIVpRA0v78Ma38KJSvLEn7Wzh_0jQVIb94iGJtRNHeliVA4_YW5NxtzGfXkfQJoOrDwbSpVyBjilIzqr-Y0k92djnx7b5hWjIT7MTS-GIhnYUBYldyVvgj1SX13teqpjCt9xGDvGxvfMCLm4dUWTAbV7t6MEZH5ouNgimfDnHrTKvNVOzXkRZw4y6McPvt7m-869L6xwZdwmVe7IFzD3P_AqaGgg9KZT6C7BbZtL29avv7010SbAEmbxk2xyPp5qU"
        alt="Creator"
      />

      <img
        src="https://lh3.googleusercontent.com/aida-public/AB6AXuDvXTsHkuTdS0tPhJ3leJkzgD3jyYjpApGnDr0GYD50puZF7NSCaqiuLyWCEdX09yY1u9m6ZJGDMDzu8NhOBuGNRsIxQfw8rua31kFdG0M0-OCl2SVuSYbY77XnW7UqGWV8VIXtEoQn_c1yDVMLJ8LzFzaX_aPLrqpdo-uDFujLuJhs-fCXM8qw_Pqk_Bn-E82v6OsdCNxvDnQvUvmmQpFW54BSX4WARrTc8QjKAdUoFwYYk2g76ec8gMqGzqny65_iT1ItLPJc00I"
        alt="Creator"
      />

      <div class="avatar-count">
        +2k
      </div>

    </div>


    <!-- Login -->
    <div class="login-section">

      <p>
        Already have an account?
        <a href="#">Log In</a>
      </p>

    </div>

  </main>


  <!-- Footer -->
  <footer>

    <p>
      © 2024 Social Circle. All rights reserved.
    </p>

  </footer>

</ion-content>