<ion-content [fullscreen]="true">

  <div class="profile-page">

    <!-- HEADER -->
    <div class="profile-header">
      <strong>deepanshu</strong>

      <div class="header-icons">
        <ion-icon name="add-outline"></ion-icon>
        <ion-icon name="menu-outline"></ion-icon>
      </div>
    </div>

    <!-- PROFILE -->
    <div class="profile-section">

      <!-- Code se Avatar -->
      <div class="avatar">
        <div class="avatar-face">
          👨🏻‍💻
        </div>
      </div>

      <!-- STATS -->
      <div class="stats">

        <div>
          <strong>12</strong>
          <span>Posts</span>
        </div>

        <div>
          <strong>245</strong>
          <span>Followers</span>
        </div>

        <div>
          <strong>180</strong>
          <span>Following</span>
        </div>

      </div>

    </div>

    <!-- NAME + BIO -->
    <div class="bio">
      <strong>Deepanshu Rana</strong>
      <p>💻 Developer</p>
      <p>🚀 Building my dream project</p>
      <p>📍 India</p>
    </div>

    <!-- BUTTONS -->
    <div class="buttons">

      <ion-button fill="outline">
        Edit Profile
      </ion-button>

      <ion-button fill="outline">
        Share Profile
      </ion-button>

    </div>

    <!-- HIGHLIGHTS -->
    <div class="highlights">

      <div>
        <div class="highlight">💻</div>
        <span>Work</span>
      </div>

      <div>
        <div class="highlight">🚀</div>
        <span>Projects</span>
      </div>

      <div>
        <div class="highlight">🎓</div>
        <span>College</span>
      </div>

      <div>
        <div class="highlight">❤️</div>
        <span>Life</span>
      </div>

    </div>

    <!-- POST TABS -->
    <div class="post-tabs">

      <div class="active">
        <ion-icon name="grid-outline"></ion-icon>
      </div>

      <div>
        <ion-icon name="play-outline"></ion-icon>
      </div>

      <div>
        <ion-icon name="person-outline"></ion-icon>
      </div>

    </div>

    <!-- POSTS -->
    <div class="posts">

      <div class="post post1">
        <span>💻</span>
      </div>

      <div class="post post2">
        <span>🚀</span>
      </div>

      <div class="post post3">
        <span>🎓</span>
      </div>

      <div class="post post4">
        <span>☕</span>
      </div>

      <div class="post post5">
        <span>🌆</span>
      </div>

      <div class="post post6">
        <span>🔥</span>
      </div>

      <div class="post post7">
        <span>📱</span>
      </div>

      <div class="post post8">
        <span>💡</span>
      </div>

      <div class="post post9">
        <span>🌄</span>
      </div>

    </div>

  </div>

</ion-content>