<ion-header>
  <ion-toolbar>
    <ion-title>Messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="messages-container">

    <ion-searchbar placeholder="Search messages"></ion-searchbar>

    <!-- Message 1 -->
    <div class="message">
      <div class="profile-circle">A</div>

      <div class="message-info">
        <h3>Akash</h3>
        <p>Hey! How are you?</p>
      </div>

      <span class="time">2m</span>
    </div>

    <!-- Message 2 -->
    <div class="message">
      <div class="profile-circle">R</div>

      <div class="message-info">
        <h3>Riya</h3>
        <p>Nice post! 🔥</p>
      </div>

      <span class="time">10m</span>
    </div>

    <!-- Message 3 -->
    <div class="message">
      <div class="profile-circle">S</div>

      <div class="message-info">
        <h3>Saurabh</h3>
        <p>Let's talk later.</p>
      </div>

      <span class="time">1h</span>
    </div>

    <!-- Message 4 -->
    <div class="message">
      <div class="profile-circle">P</div>

      <div class="message-info">
        <h3>Prakash</h3>
        <p>Thanks 👍</p>
      </div>

      <span class="time">2h</span>
    </div>

  </div>

</ion-content>
<app-bottom-nav></app-bottom-nav>