<ion-header>
  <ion-toolbar>
    <ion-title>Messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="messages-container">

    <h2 class="inbox-title">Messages</h2>

    <ion-searchbar
      placeholder="Search"
      [(ngModel)]="searchText">
    </ion-searchbar>

    <!-- Message 1 -->
    <div class="message" *ngIf="showMessage('Akash')" (click)="openChat('Akash')">
      <div class="profile-circle akash">A</div>

      <div class="message-info">
        <h3>Akash</h3>
        <p>Hey! How are you?</p>
      </div>

      <span class="time">2m</span>
    </div>

    <!-- Message 2 -->
    <div class="message" *ngIf="showMessage('Riya')" (click)="openChat('Riya')">
      <div class="profile-circle riya">R</div>

      <div class="message-info">
        <h3>Riya</h3>
        <p>Nice post! 🔥</p>
      </div>

      <span class="time">10m</span>
    </div>

    <!-- Message 3 -->
    <div class="message" *ngIf="showMessage('Saurabh')" (click)="openChat('Saurabh')">
      <div class="profile-circle saurabh">S</div>

      <div class="message-info">
        <h3>Saurabh</h3>
        <p>Let's talk later.</p>
      </div>

      <span class="time">1h</span>
    </div>

    <!-- Message 4 -->
    <div class="message" *ngIf="showMessage('Prakash')" (click)="openChat('Prakash')">
      <div class="profile-circle prakash">P</div>

      <div class="message-info">
        <h3>Prakash</h3>
        <p>Thanks 👍</p>
      </div>

      <span class="time">2h</span>
    </div>

  </div>

</ion-content>

<app-bottom-nav></app-bottom-nav>