<ion-content [fullscreen]="true">
  <div class="container">
    <div class="header">
      <img src="assets/icon/Logo.png" alt="Social Circle Logo" class="header-logo" />
      <h1 class="header-title">{{title}}</h1>
      <p class="header-subtitle">{{subtitle}}</p>
    </div>
    <form #loginForm="ngForm" (ngSubmit)="OnLoginHandler(loginForm)" [style.display]="isLogin ? 'flex' : 'none'">
      <div class="form-card">
        <ion-label>Email or Phone number</ion-label>
        <ion-item lines="none" class="place-holder">
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-input name="identity" #identity="ngModel" [(ngModel)]="loginPortal.identity" placeholder="Abc@gmail.com or +917823456789" required minlength="5"></ion-input>
        </ion-item>
        <div class="msg">
          @if (identity.touched && identity.errors) {
            <div class="error-msg">
              @if (identity.errors['required']) { <span>identity is required.</span> }
              @if (identity.errors['minlength']) { <span>Must be of 5 Character.</span> }
            </div>
          }
        </div>
      </div>

      <div class="form-card">
        <div class="separation">
          <ion-label>Password</ion-label>
          <a class="forgot-link">Forget?</a>
        </div>
        <ion-item lines="none" class="place-holder">
          <ion-icon slot="start" name="lock-closed"></ion-icon>
          <ion-input [type]="showPassword ? 'text' : 'password'" name="password" #password="ngModel" [(ngModel)]="loginPortal.password" placeholder="••••••••" required minlength="5"></ion-input>
          <i [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="showPassword = !showPassword" style="cursor: pointer;" class="password-toggle">
          </i>
        </ion-item>
        <div class="msg">
          @if (password.touched && password.errors) {
            <div class="error-msg">
              @if (password.errors['required']) { <span>Password is required.</span> }
              @if (password.errors['password']) { <span>Password must be valid.</span> }
            </div>
          }
        </div>
      </div>

      <ion-button type="submit" shape="round" size="medium" fill="clear">Log In</ion-button>
      
      <div class="divider">
        <span>OR CONTINUE WITH</span>
      </div>
      
      <div class="other-Login">
        <div class="extraBtn">
          <ion-button class="fb-login" type="submit" shape="round" size="small" fill="clear">FB Login</ion-button>
          <ion-button class="guset-login" type="submit" shape="round" size="small" fill="clear">Guest</ion-button>
        </div>
      </div>

      <div class="descript">
        <span>New to member? <a (click)="toggleAuth()">Create account</a></span>
      </div>
    </form>

    <div *ngIf="step === 'REGISTER'" class="auth-card">
      <form #registerForm="ngForm" (ngSubmit)="onRegisterHandler(registerForm)" [style.display]="!isLogin ? 'flex' : 'none'">
        <div class="form-card">
          <ion-label>Full Name</ion-label>
          <ion-item lines="none" class="place-holder">
            <ion-icon slot="start" name="person"></ion-icon>
            <ion-input name="fullname" #fullname="ngModel" [(ngModel)]="registerPortal.fullname" placeholder="Alan Ritchson" required minlength="5"></ion-input>
          </ion-item>
          <div class="msg">
            @if (fullname.touched && fullname.errors) {
              <div class="error-msg">
                @if (fullname.errors['required']) { <span>Fullname is required.</span> }
                @if (fullname.errors['minlength']) { <span>Must be of 5 Character.</span> }
              </div>
            }
          </div>
        </div>

        <div class="form-card">
          <ion-label>Email Address</ion-label>
          <ion-item lines="none" class="place-holder">
            <ion-icon slot="start" name="mail"></ion-icon>
            <ion-input name="email" #email="ngModel" [(ngModel)]="registerPortal.email" placeholder="abc@gmail.com" required></ion-input>
          </ion-item>
          <div class="msg">
            @if (email.touched && email.errors) {
              <div class="error-msg">
                @if (email.errors['required']) { <span>Email is required.</span> }
                @if (email.errors['email']) { <span>Must be valid email id.</span> }
              </div>
            }
          </div>
        </div>

        <div class="form-card">
          <ion-label>Phone Number</ion-label>
          <ion-item lines="none" class="place-holder">
            <ion-icon slot="start" name="call"></ion-icon>
            <ion-input name="phone" #phone="ngModel" [(ngModel)]="registerPortal.phone" placeholder="+917823456789" required minlength="10"></ion-input>
          </ion-item>
          <div class="msg">
            @if (phone.touched && phone.errors) {
              <div class="error-msg">
                @if (phone.errors['required']) { <span>Phone number is required.</span> }
                @if (phone.errors['minlength']) { <span>Phone number must be of 10 digits.</span> }
              </div>
            }
          </div>
        </div>

        <div class="form-card">
          <ion-label>Password</ion-label>
          <ion-item lines="none" class="place-holder">
            <ion-icon slot="start" name="person"></ion-icon>
            <ion-input [type]="showPassword ? 'text' : 'password'" name="password" #password="ngModel" [(ngModel)]="registerPortal.password" placeholder="••••••••••" required minlength="8"></ion-input>
            <i [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="showPassword = !showPassword" style="cursor: pointer;"></i>
          </ion-item>
          <div class="msg">
            @if (password.touched && password.errors) {
              <div class="error-msg">
                @if (password.errors['required']) { <span>Password is required.</span> }
                @if (password.errors['minlength']) { <span>Password must be of atleat 8 or 10 characters.</span> }
              </div>
            }
          </div>
        </div>

        <ion-button type="submit" shape="round" size="medium" fill="clear">Get Otp</ion-button>

        <div class="descript">
          <span>Already Member? <a (click)="toggleAuth()">Login</a></span>
        </div>
      </form>
    </div>

    <div *ngIf="step === 'OTP'" class="auth-card">
      <form #verifyForm="ngForm" (ngSubmit)="onVerifyHandler(verifyForm)" [style.display]="!isLogin ? 'flex' : 'none'">
        <div class="form-card">
          <ion-label>Enter Code</ion-label>
          <ion-item lines="none" class="place-holder">
            <ion-input type="number" name="otp" #otp="ngModel" [(ngModel)]="verifyPortal.otp" placeholder="123456"></ion-input>
          </ion-item>
          <div class="msg">
            @if (otp.touched && otp.errors) {
              <div class="error-msg">
                @if (otp.errors['required']) { <span>OTP is required.</span> }
                @if (otp.errors['minlength']) { <span>Otp must be of atleat 8 digit.</span> }
              </div>
            }
          </div>
        </div>

        <ion-button type="submit" shape="round" size="medium" fill="clear">Verify Otp</ion-button>
        <ion-button class="fb-login" shape="round" size="medium" fill="clear" (click)="cancelOtp()">Cancel Otp</ion-button>

      </form>
    </div>
  </div>
  <div class="footer-class">
    <p>@ 2024 Social Circle. All rights reserved.</p>
  </div>

  <ion-modal [isOpen]="isCreateModel" class="modal-container">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-button shape="round" fill="clear" size="small" slot="end" (click)="skipForNow()">Skip</ion-button>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="image-hold">
          <ion-text>
            Add a profile photo that shows your vibe
          </ion-text>
          <div class="ion-hold">
            <ion-avatar class="panel" [style.display]="isSelected ? 'grid' : 'none'">
              <img [src]="previewPath ? previewPath : 'assets/images/default-avatar.png'"  alt="Avatar" />
            </ion-avatar>
            <div class="panel" [style.display]="!isSelected ? 'grid' : 'none'">
              <ion-icon name="camera" (click)="pickPhotoFromGallery()"></ion-icon>
            </div>
          </div>
        </div>
      </ion-content>
      <ion-footer class="ion-no-border">
          <ion-toolbar class="ion-text-center" [style.display]="!isSelected ? 'grid' : 'none'">
            <ion-button shape="round" (click)="pickPhotoFromGallery()">Add Photo</ion-button>
          </ion-toolbar>
          <ion-toolbar class="ion-text-center" [style.display]="isSelected ? 'grid' : 'none'">
            <ion-button shape="round" (click)="updateAvatar()">Submit</ion-button>
          </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>
</ion-content>
