ion-tab-bar.custom-tab-bar {
  height: 75px;
  --background: #ffffff;
  border: none;
  box-shadow: none;
  padding: 8px 35px 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

ion-tab-button {
  --background: transparent;
  --color: #5b4b4f;
  --color-selected: #b51f61;

  min-width: 45px;
  max-width: 55px;
  height: 55px;
  margin: 0;
  padding: 0;

  --ripple-color: transparent;
}

/* Normal icons */
ion-tab-button > ion-icon {
  font-size: 34px;
}

/* CREATE BUTTON */
ion-tab-button.create-tab {
  --color: #ffffff;
  --color-selected: #ffffff;
}

/* Purple circle */
ion-tab-button.create-tab .create-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #6842d8;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Plus icon */
ion-tab-button.create-tab .create-icon ion-icon {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: #ffffff;
}

/* Hide labels */
ion-tab-button ion-label {
  display: none;
}