<!-- <ion-tabs>

  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">

    <!-- HOME
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <!-- FEED 
    <ion-tab-button tab="feed">
      <ion-icon name="grid-outline"></ion-icon>
    </ion-tab-button>

    <!-- DIRECT MESSAGE 
    <ion-tab-button tab="direct-msg">
      <ion-icon name="chatbubble-outline"></ion-icon>
    </ion-tab-button>

    <!-- PROFILE 
    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs> -->