<ion-header>
  <ion-toolbar>
    <ion-title>Reels</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="reels-container">

    <div class="reel">
      <div class="reel-content">
        <h2>🎬 Reel</h2>
        <p>Your reel will appear here</p>
      </div>

      <div class="reel-actions">
        <ion-button fill="clear">
          <ion-icon name="heart-outline"></ion-icon>
        </ion-button>

        <ion-button fill="clear">
          <ion-icon name="chatbubble-outline"></ion-icon>
        </ion-button>

        <ion-button fill="clear">
          <ion-icon name="paper-plane-outline"></ion-icon>
        </ion-button>
      </div>
    </div>

  </div>

</ion-content>
<app-bottom-nav></app-bottom-nav>