ion-content {
  --background: #000;
}

.reels-container {
  width: 100%;
  height: 100%;
  background: #000;
}

/* Top Reels / Friends */
.reels-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 12px;

  z-index: 10;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    transparent
  );
}

.top-title {
  display: flex;
  gap: 20px;

  color: #aaa;

  font-size: 17px;
  font-weight: 600;
}

.top-title .active {
  color: white;
}

.reels-top ion-button {
  --color: white;
  font-size: 23px;
}

/* Reel */
.reel {
  position: relative;

  width: 100%;
  height: 100vh;

  overflow: hidden;

  background: #000;
}

/* Video */
.reel-video {
  position: absolute;

  width: 100%;
  height: 100%;

  object-fit: cover;

  background: #111;
}

/* Gradient */
.reel-gradient {
  position: absolute;

  left: 0;
  right: 0;
  bottom: 0;

  height: 45%;

  background: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.8)
  );

  pointer-events: none;
}

/* Bottom information */
.reel-info {
  position: absolute;

  left: 15px;
  right: 75px;
  bottom: 85px;

  color: white;

  z-index: 3;
}

.profile-row {
  display: flex;
  align-items: center;

  gap: 10px;
}

.avatar {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background: white;
  color: #222;

  font-size: 17px;
  font-weight: bold;
}

.profile-row strong {
  font-size: 15px;
}

.profile-row button {
  padding: 5px 12px;

  border: 1px solid white;
  border-radius: 6px;

  background: transparent;

  color: white;

  font-size: 12px;
}

.caption {
  margin: 10px 0 5px;

  font-size: 14px;
  line-height: 20px;
}

.music {
  margin: 5px 0;

  font-size: 13px;
}

/* Right buttons */
.reel-actions {
  position: absolute;

  right: 8px;
  bottom: 85px;

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 5;
}

.action {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 7px;

  color: white;
}

.action ion-button {
  --color: white;

  margin: 0;
  padding: 0;
}

.action ion-icon {
  font-size: 28px;
}

.action span {
  margin-top: -3px;

  font-size: 11px;
}