<ion-toolbar slot="top">
  <div class="panels">
    <ion-button fill="clear">
      <ion-label>{{username}}</ion-label>
    </ion-button>
    <div>
      <ion-button fill="clear" routerLink="/home/post">
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <ion-button fill="clear" >
        <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <div class="mainHolder">
  <!-- Pull to Refresh Component -->
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content 
        pullingIcon="chevron-down-circle-outline" 
        pullingText="Pull down to refresh" 
        refreshingSpinner="circles" 
        refreshingText="Fetching profile...">
      </ion-refresher-content>
    </ion-refresher>
    
    <section class="story-panel">
      <div class="story-context">
        <div class="height-light" [class.active]="isActiveStory">
          <div class="story-relative">
            <ion-avatar class="person" (click)="openSelfStory(user?._id)">
              <ion-img [src]="avatarUrl" alt="User Avatar"></ion-img>
            </ion-avatar>
            <ion-button class="story-add-absolute" fill="clear" shape="round" size="small">
              <ion-icon class="add-btn" slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </div>
        </div>
        <span>Your story</span>
      </div>
      
      <div class="story-context" *ngFor="let item of highlights">
        <div class="height-light" [class.active]="true">
          <ion-avatar class="person" (click)="openStoryPanel(item.author?.userId)">
              <ion-img [src]="item.author?.avatarUrl" alt="User Avatar"></ion-img>
          </ion-avatar>
        </div>
        <span>{{item?.username}}</span>
      </div>
      
    </section>

    <div class="post-panel">
      <article class="card-board" *ngFor="let feed of postList; let i = index" #postCard>
        <div class="main-container">
          @if (feed.mediaType === 'video') {
            <!-- Video Portion -->
            <div class="video-content">
              <div class="video-wrapper">
                <video
                  #videoPlayer
                  appIntersectionObserver
                  (isPercentVisible)="$event ? videoPlayer.play().catch(noop) : videoPlayer.pause()"
                  [src]="feed.mediaUrl"
                  autoplay
                  muted
                  preload="metadata"
                  playsinline
                  (play)="audioPlayer.play()"
                  (pause)="audioPlayer.pause()">
                </video>
                <audio #audioPlayer 
                  [src]="feed.audio?.audioUrl" 
                  [muted]="isPlayingPreview">
                </audio>
              </div>
              <div class="post-header-abs">
                <div class="divided">
                  <ion-avatar class="avatar-img">
                    <ion-img [src]="feed?.author?.avatarUrl" alt="User Avatar"></ion-img>  
                  </ion-avatar>
                  <div class="avatar-title">
                    <a><span>{{feed?.author?.authorName}}</span></a>
                    <span>{{feed?.audio?.artist}}</span>
                  </div>
                </div>
                <div>
                  @if(!isFollowing(feed.author?.userId))
                  {
                    <ion-button class="follow-btn" shape="round" size="small" fill="clear" (click)="onClickFollow(feed)">Follow</ion-button>
                  }
                  <ion-button shape="round" fill="clear" size="small">
                    <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
                  </ion-button>
                </div>
              </div>
            </div>
          } @else {
            <!-- Image Portion -->
            <div class="post-header">
              <div class="divided">
                <ion-avatar class="avatar-img">
                  <ion-img [src]="feed?.author?.avatarUrl" alt="User Avatar"></ion-img>  
                </ion-avatar>
                <div class="avatar-title">
                  <a><span>{{feed?.author?.authorName}}</span></a>
                  <span>{{feed?.audio?.artist}}</span>
                </div>
              </div>
              <div>
                  @if(!isFollowing(feed.author?.userId))
                  {
                    <ion-button class="follow-btn" shape="round" size="small" fill="clear" (click)="onClickFollow(feed)">Follow</ion-button>
                  }
                  <ion-button shape="round" fill="clear" size="small">
                    <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
                  </ion-button>
                </div>
            </div>

            <div class="post-content">          
              <ion-img
                [src]="feed.mediaUrl" 
                autoplay
                muted
                preload="metadata"
                playsinline
                class="post-image"
                appIntersectionObserver
                (isPercentVisible)="$event ? audioPlayer.play().catch(noop) : audioPlayer.pause()">
              </ion-img>
              <audio #audioPlayer 
                [src]="feed.audio?.audioUrl" 
                [muted]="isPlayingPreview">
              </audio>
            </div>
          }
          @if (feed?.audio !== null) {
            <div size="small" fill="clear" slot="end" (click)="toggleGlobalMute()" class="btn-absolue">
              <ion-icon [name]="isPlayingPreview ? 'volume-mute' : 'volume-high'"></ion-icon>
            </div>
          }
        </div>

        <div class="post-bottom">
          <div class="toggle-icon">
            <div class="left-toggle">
              <div class="likebtn">
                <ion-icon slot="icon-only" 
                  [name]="isLikedByCurrentUser(feed?.likedBy) ? 'heart' : 'heart-outline'" 
                  [class.active]="isLikedByCurrentUser(feed?.likedBy)" 
                  (click)="toggleLikes(feed)">
                </ion-icon>
                <div class="likeTitle"(click)="openLikesModal(feed)"><span>{{feed?.likesCount}}</span></div>
              </div>
             
              <div class="likebtn">
                <ion-icon slot="icon-only" name="chatbox-outline" (click)="openCommitModel(feed)"></ion-icon>
                <div class="likeTitle"><span>{{feed?.commentsCount}}</span></div>
              </div>

              <div class="likebtn">
                <ion-icon slot="icon-only" name="paper-plane-outline"></ion-icon>
                <div class="likeTitle"><span>{{feed?.sharesCount}}</span></div>
              </div>

            </div>
            <div class="likebtn">
                <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
            </div>
          </div>

          <div class="subtitle-panel">
            <p (click)="openLikesModal(feed)">{{feed?.likesCount}} likes</p>
            <p><span>{{feed?.author?.authorName}}</span> {{feed?.caption}}</p>
            <a class="view-btn" (click)="openCommitModel(feed)">View all {{feed?.commentsCount}} comments</a>
            <p class="para">{{(feed?.time || feed?.createdAt) | timeAgo}}</p>
          </div>
        </div>
      </article>
    </div>
  </div>

  <ion-modal 
    [isOpen]="isLikesModalOpen" 
    (didDismiss)="isLikesModalOpen = false"
    [initialBreakpoint]="0.5" 
    [breakpoints]="[0, 0.5, 1]"
    [handle]="true"
    class="bottom-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Likes</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="like-panel">
          <div class="card">
            <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
            <span>{{selectedFeedForLikes?.likesCount}}</span>
          </div>
          <div class="card">
            <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
            <span>{{selectedFeedForLikes?.likesCount}}</span>
          </div>
        </div>
        <div class="person-list" *ngFor="let user of likedByUsers">
          <div class="avatar">
            <ion-avatar>           
              <ion-img [src]="user.avatarUrl" alt="User Avatar"></ion-img>
            </ion-avatar>
            <div class="title">
              <h2>{{user?.username}}</h2>
              <span>{{user?.fullname}}</span>
            </div>
          </div>
          <div class="tabs">
            <ion-button slot="end" shape="round" size="small" fill="clear">Follow</ion-button>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal 
    [isOpen]="isCommitModalOpen" 
    (didDismiss)="isCommitModalOpen = false"
    [initialBreakpoint]="0.5" 
    [breakpoints]="[0, 0.5, 1]"
    [handle]="true"
    class="bottom-modal commit-modal">
    <ng-template>
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-title>Comments</ion-title>
        </ion-toolbar>
        <div class="user-conatin">
          <ion-avatar class="avatar">           
            <ion-img [src]="avatarUrl" alt="User Avatar"></ion-img>
          </ion-avatar>
          <ion-item class="inputplace">
            <ion-input type="text" name="comment" #comment="ngModel" [(ngModel)]="commentPortal.message" placeholder="Join the conversation..." required minlength="500">
              <ion-icon slot="end" name="image-outline"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-icon name="send-outline" (click)="onSubmitComment()" ></ion-icon>
        </div>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="person-list" *ngFor="let comment of commentList">
          <div class="avatar">
            <ion-avatar>           
              <ion-img [src]="comment.userID?.avatarUrl" alt="User Avatar"></ion-img>
            </ion-avatar>
            <div class="title">
              <h2>{{comment.userID?.username}}<span>{{comment?.createdAt | timeAgo }}</span></h2>
              <p>{{ comment?.content }}</p>
            </div>
          </div>
          <div class="tabs">
            <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isStoryModalOpen" (didDismiss)="isStoryModalOpen = false" class="story-model">
    <ng-template>
      <ion-content *ngFor="let item of showHighLight">
        <div class="story-show">
          <div class="relative-img">
            <ion-img
              [src]="item.mediaUrl"
              autoplay
              muted
              preload="metadata"
              playsinline
              class="post-image"
              appIntersectionObserver
              (isPercentVisible)="$event ? audioPlayer.play().catch(noop) : audioPlayer.pause()">
            </ion-img>
            <audio #audioPlayer 
              [src]="item.audio?.audioUrl" 
              [muted]="isPlayingPreview">
            </audio>
          </div>
          <div class="slider">
            <ion-range labelPlacement="stacked" ></ion-range>
          </div>
          <div class="absolute-content">
            <ion-avatar class="person-abs">
              <ion-img [src]="item.author?.avatarUrl"></ion-img>
            </ion-avatar>
            <div class="title">
              <span>{{item.author?.authorName}}</span>
              <span>{{item.audio.title}}</span>
            </div>
            <span>{{(item?.time || item?.createdAt) | timeAgo}}</span>
          </div>
          <div class="absolute-left" [class.active]="isActiveStory">
              <ion-icon slot="icon-only" name="ellipsis-vertical-outline" (click)="isActiveStory"></ion-icon>
          </div>
        </div>
        <div class="reply-card">
          <ion-item class="inputplace">
            <ion-input type="text" name="comment" #comment="ngModel" [(ngModel)]="commentPortal.message" placeholder="Join the conversation..." required minlength="500">
              <ion-icon slot="end" name="image-outline"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-icon name="send-outline" (click)="onSubmitComment()" ></ion-icon>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
