<ion-content [fullscreen]="true" class="add-page">

  <div class="create-sheet">

    <!-- Drag handle -->
    <div class="modal-handle"></div>

    <!-- Title -->
    <h1 class="create-title">Create</h1>

    <div class="create-options">

      <!-- Reel -->
      <button class="create-option" (click)="createReel()">
        <ion-icon name="play-circle-outline"></ion-icon>
        <span>Reel</span>
      </button>

      <!-- Edits -->
      <button class="create-option" (click)="createEdits()">
        <ion-icon name="albums-outline"></ion-icon>
        <span>Edits</span>
      </button>

      <!-- Post -->
      <button class="create-option" (click)="createPost()">
        <ion-icon name="grid-outline"></ion-icon>
        <span>Post</span>
      </button>

      <!-- Story -->
      <button class="create-option" (click)="createStory()">
        <ion-icon name="add-circle-outline"></ion-icon>
        <span>Story</span>
      </button>

      <!-- Highlights -->
      <button class="create-option" (click)="createHighlights()">
        <ion-icon name="heart-circle-outline"></ion-icon>
        <span>Highlights</span>
      </button>

      <!-- Live -->
      <button class="create-option" (click)="goLive()">
        <ion-icon name="radio-outline"></ion-icon>
        <span>Live</span>
      </button>

    </div>

  </div>

</ion-content>
