<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="panels">
      <ion-button fill="clear">
        <ion-label>{{username}}</ion-label>
      </ion-button>
      <div>
        <ion-button fill="clear" routerLink="/home/post">
          <ion-icon name="add"></ion-icon>
        </ion-button>
        <ion-button fill="clear" >
          <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="mainHolder">
  <!-- Pull to Refresh Component -->
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content 
        pullingIcon="chevron-down-circle-outline" 
        pullingText="Pull down to refresh" 
        refreshingSpinner="circles" 
        refreshingText="Fetching profile...">
      </ion-refresher-content>
    </ion-refresher>
    
    <section class="story-panel">
      <div class="story-context">
        <div class="height-light" [class.active]="false">
          <div class="story-relative">
            <ion-avatar class="person">
              <ion-img [src]="getUserAvatar()" alt="User Avatar"></ion-img>
            </ion-avatar>
            <ion-button class="story-add-absolute" fill="clear" shape="round" size="small">
              <ion-icon class="add-btn" slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </div>
        </div>
        <span>Your story</span>
      </div>
      
      <div class="story-context" *ngFor="let item of highlights">
        <div class="height-light" [class.active]="true">
          <ion-avatar class="person">
              <ion-img [src]="item.imgUrl" alt="User Avatar"></ion-img>
          </ion-avatar>
        </div>
        <span>{{item?.username}}</span>
      </div>
      
    </section>

    <div class="post-panel">
      <article class="card-board" *ngFor="let feed of postList" >
        <div class="post-header">
          <div class="divided">
            <ion-avatar class="avatar-img">
              <ion-img [src]="feed?.author?.avatarUrl" alt="User Avatar"></ion-img>  
            </ion-avatar>
            <div class="avatar-title">
              <a><span>{{feed?.author?.authorName}}</span></a>
              <span>{{feed?.audio?.artist}}</span>
            </div>
          </div>
          <ion-button shape="round" fill="clear" size="small">
            <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
          </ion-button>
        </div>

        <div class="post-content">
            <ion-img [src]="feed.mediaUrl"></ion-img>
            <div size="small" fill="clear" slot="end" (click)="previewTrack(feed?.audio, $event)" class="btn-absolue">
              <ion-icon [name]="isPlayingPreview && isAudioId === feed?.audio?.id ? 'volume-high' : 'volume-mute'"></ion-icon>
            </div>
        </div>

        <div class="post-bottom">
          <div class="toggle-icon">
            <div class="left-toggle">
              <ion-button shape="round" fill="clear" size="small" (click)="toggleLikes(feed)">
                <ion-icon slot="icon-only" [name]="feed?.likedBy?.includes(this.currentUserId) ? 'heart' : 'heart-outline'" [class.active]="feed?.likedBy?.includes(this.currentUserId)"></ion-icon>
                <span>{{feed?.likesCount}}</span>
              </ion-button>
              <ion-button shape="round" fill="clear" size="small">
                <ion-icon slot="icon-only" name="chatbox-outline"></ion-icon>
                <span>{{feed?.commentsCount}}</span>
              </ion-button>
              <ion-button shape="round" fill="clear" size="small">
                <ion-icon slot="icon-only" name="paper-plane-outline"></ion-icon>
                <span>{{feed?.sharesCount}}</span>
              </ion-button>
            </div>
            <ion-button shape="round" fill="clear" size="small">
              <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
            </ion-button>
          </div>

          <div class="subtitle-panel">
            <p>{{feed?.likesCount}} likes</p>
            <p><span>{{feed?.author?.authorName}}</span> {{feed?.caption}}</p>
            <a class="view-btn">View all {{feed?.commentsCount}} comments</a>
            <p class="para">{{(feed?.time || feed?.createdAt) | timeAgo}}</p>
          </div>
        </div>
      </article>
      <!-- <article class="card-board" *ngFor="let feed of feeds" >
        <div class="post-header">
          <div class="divided">
            <ion-avatar class="avatar-img">
              <ion-img [src]="feed.avatar" alt="User Avatar"></ion-img>  
            </ion-avatar>
            <div class="avatar-title">
              <a><span>{{feed?.username}}</span></a>
              <span>{{feed?.location}}</span>
            </div>
          </div>
          <ion-button shape="round" fill="clear" size="small">
            <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
          </ion-button>
        </div>

        <div class="post-content">
            <ion-img [src]="feed.postUrl"></ion-img>
        </div>

        <div class="post-bottom">
          <div class="toggle-icon">
            <div class="left-toggle">
              <ion-button shape="round" fill="clear" size="small">
                <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
                <span>{{feed?.likes}}</span>
              </ion-button>
              <ion-button shape="round" fill="clear" size="small">
                <ion-icon slot="icon-only" name="chatbox-outline"></ion-icon>
                <span>{{feed?.comments}}</span>
              </ion-button>
              <ion-button shape="round" fill="clear" size="small">
                <ion-icon slot="icon-only" name="paper-plane-outline"></ion-icon>
                <span>{{feed?.shares}}</span>
              </ion-button>
            </div>
            <ion-button shape="round" fill="clear" size="small">
              <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
            </ion-button>
          </div>

          <div class="subtitle-panel">
            <p>{{feed?.likes}} likes</p>
            <p><span>{{feed?.username}}</span> {{feed?.paragraph}}</p>
            <a class="view-btn">View all {{feed?.comments}} comments</a>
            <p class="para">{{feed?.postTime}}</p>
          </div>
        </div>
      </article> -->
    </div>

  </div>
</ion-content>
