<ion-toolbar slot="top">
  <div class="panels">
    <ion-button fill="clear" slot="start" (click)="goBack()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>    
    <ion-title>New post</ion-title>
    <ion-button fill="clear" slot="end" (click)="openModal()">
      <span>Next</span>
    </ion-button>
  </div>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="post-panel" [style.display]="activeTab === 'POST' ? 'flex' : 'none'">
     <div class="upper-container">
        <ion-img [src]="postUrl"></ion-img>
      </div>
      <div class="lower-conatiner">
        <div class="btn-header">
          <ion-button shape="round" size="small">Recents</ion-button>
          <ion-button shape="round" size="small">Drafts</ion-button>
          <ion-button shape="round" size="small" slot="end">Select</ion-button>
        </div>
        <div class="grid">
          <ion-icon name="camera"></ion-icon>
          <div *ngFor="let post of posts">
            <ion-img [src]="post.url" (click)="onChangePost(post.id)"></ion-img>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="post-panel" [style.display]="activeTab === 'Post' ? 'flex' : 'none'">
      <div class="upper-container" [class.has-preview]="mediaUrl !== null" (click)="openModal()">
        
        <div class="upload-placeholder" *ngIf="!mediaUrl">
          <div class="icon-wrapper">
            <ion-icon name="camera-outline"></ion-icon>
          </div>
          <div class="text-content">
            <p class="title">Select Media</p>
            <p class="subtitle">Tap to upload photo or video</p>
          </div>
        </div>

        <ion-img *ngIf="mediaUrl" [src]="mediaUrl" alt="Uploaded Preview" class="preview-image"></ion-img>
                
        <ion-button class="remove-btn" *ngIf="mediaUrl" (click)="removeMedia($event)">
          <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </ion-button>
      </div>

      <div class="caption-card">
        <ion-avatar>           
          <ion-img [src]="'assets/images/Cutipie.jpg'" alt="User Avatar"></ion-img>
        </ion-avatar>

        <ion-textarea 
          id="caption-input" 
          placeholder="Write a caption" 
          [maxlength]="maxLength" 
          [rows]="4"
          [autoGrow]="true"
          [(ngModel)]="captionText"
          (ionInput)="onTextChange()"
          class="caption-textarea">
        </ion-textarea>

        <div class="char-count">
          <span id="char-count">{{ captionText.length }}/{{ maxLength }}</span>
        </div>
      </div>

      <div class="add-on-section">
        <ion-button fill="clear">
          <div class="btn-controls">
            <div class="bar">
              <div class="icon-btn">
                <ion-icon slot="icon-only" name="musical-note"></ion-icon>
              </div>
              <div class="title">
                <h2>Add Music</h2>
                <span>Select a track</span>
              </div>
            </div>
            <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
          </div>
        </ion-button>

        <ion-button fill="clear">
          <div class="btn-controls">
            <div class="bar">
              <div class="icon-btn">
                <ion-icon slot="icon-only" name="person-add"></ion-icon>
              </div>
              <div class="title">
                <h2>Tag People</h2>
              </div>
            </div>
            <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
          </div>
        </ion-button>

        <ion-button fill="clear">
          <div class="btn-controls">
            <div class="bar">
              <div class="icon-btn">
                <ion-icon slot="icon-only" name="person-add"></ion-icon>
              </div>
              <div class="title">
                <h2>Add Location</h2>
              </div>
            </div>
            <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
          </div>
        </ion-button>
      </div>
    </div>

    <div class="post-panel" [style.display]="activeTab === 'Reel' ? 'flex' : 'none'">
      <div class="upper-conatiner">
        <ion-img [src]="postUrl"></ion-img>
      </div>
      <div class="lower-conatiner">
        <div class="btn-header">
          <ion-button shape="round" size="small">Recents</ion-button>
          <ion-button shape="round" size="small">Drafts</ion-button>
          <ion-button shape="round" size="small" slot="end">Select</ion-button>
        </div>
        <div class="grid">
          <ion-icon name="camera"></ion-icon>
          <div *ngFor="let post of posts">
            <ion-img [src]="post.url" (click)="onChangePost(post.id)"></ion-img>
          </div>
        </div>
      </div>
    </div>

    <div class="post-panel" [style.display]="activeTab === 'Story' ? 'flex' : 'none'">
      <div class="upper-conatiner">
        <ion-img [src]="postUrl"></ion-img>
      </div>
      <div class="lower-conatiner">
        <div class="btn-header">
          <ion-button shape="round" size="small">Recents</ion-button>
          <ion-button shape="round" size="small">Drafts</ion-button>
          <ion-button shape="round" size="small" slot="end">Select</ion-button>
        </div>
        <div class="grid">
          <ion-icon name="camera"></ion-icon>
          <div *ngFor="let post of posts">
            <ion-img [src]="post.url" (click)="onChangePost(post.id)"></ion-img>
          </div>
        </div>
      </div>
    </div> -->

    <div class="list-aboslute">
      <a [class.active]="activeTab === 'POST'" (click)="onChangeContentType('POST')">Post</a>
      <a [class.active]="activeTab === 'REEL'" (click)="onChangeContentType('REEL')">Reel</a>
      <a [class.active]="activeTab === 'STORY'" (click)="onChangeContentType('STORY')">Story</a>
    </div>
  </div>

  <!-- Create Modal... -->
  <ion-modal [isOpen]="isCreateModel">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-button fill="clear" slot="start" (click)="openModal()">
            <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
          </ion-button> 
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="post-container">
          <div class="post-section" [style.display]="activeTab === 'POST' ? 'flex' : 'none'">
            <div class="selected-image">
              <ion-img [src]="postUrl"></ion-img>            
            </div>

            <div class="caption-card">
              <ion-avatar>           
                <ion-img [src]="'assets/images/Cutipie.jpg'" alt="User Avatar"></ion-img>
              </ion-avatar>

              <ion-textarea 
                id="caption-input" 
                placeholder="Write a caption" 
                [maxlength]="maxLength" 
                [rows]="4"
                [autoGrow]="true"
                [(ngModel)]="captionText"
                (ionInput)="onTextChange()"
                class="caption-textarea">
              </ion-textarea>

              <!-- Dynamic Character Count -->
              <div class="char-count">
                <span id="char-count">{{ captionText.length }}/{{ maxLength }}</span>
              </div>
            </div>

            <div class="add-on-section">
              <ion-button fill="clear" (click)="isMusicModalOpen = !isMusicModalOpen">
                <div class="btn-controls">
                  <div class="bar">
                    <div class="icon-btn">
                      <ion-icon slot="icon-only" name="musical-note"></ion-icon>
                    </div>
                    <div class="title">
                      <h2>{{ selectedAudio ? selectedAudio.title : 'Add Music' }}</h2>
                      <span>{{ selectedAudio ? selectedAudio.artist : 'Select a track' }}</span>
                    </div>
                  </div>
                  <ion-icon slot="icon-only" name="close-circle-outline" *ngIf="selectedAudio" (click)="removeSelectedMusic($event)"></ion-icon>
                  <ion-icon *ngIf="!selectedAudio" slot="icon-only" name="chevron-forward-outline"></ion-icon>
                </div>
              </ion-button>

              <ion-button fill="clear">
                <div class="btn-controls">
                  <div class="bar">
                    <div class="icon-btn">
                      <ion-icon slot="icon-only" name="person-add"></ion-icon>
                    </div>
                    <div class="title">
                      <h2>Tag People</h2>
                    </div>
                  </div>
                  <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
                </div>
              </ion-button>

              <ion-button fill="clear">
                <div class="btn-controls">
                  <div class="bar">
                    <div class="icon-btn">
                      <ion-icon slot="icon-only" name="person-add"></ion-icon>
                    </div>
                    <div class="title">
                      <h2>Add Location</h2>
                    </div>
                  </div>
                  <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
                </div>
              </ion-button>
            </div>

            <ion-button fill="clear" (click)="onCreatePost()">
              <ion-icon slot="icon-only" name="paper-plane"></ion-icon>
              <span> Share</span>
            </ion-button>
          </div>          
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Music Picker Modal -->
  <ion-modal [isOpen]="isMusicModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Select Audio</ion-title>
          <ion-buttons slot="end">
            <ion-icon slot="icon-only" name="close" (click)="closeMusicModal()"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list class="list-music">
          <div *ngFor="let track of musicLibrary" (click)="selectMusicTrack(track)" class="track">
            <div class="left-toggle">
              <ion-avatar slot="start" *ngIf="track.coverUrl">
                <img [src]="track.coverUrl" alt="Cover" />
              </ion-avatar>
              <ion-label>
                <h2>{{ track.title }}</h2>
                <p>{{ track.artist }}</p>
              </ion-label>
            </div>
            <ion-button fill="clear" slot="end" (click)="previewTrack(track, $event)">
              <ion-icon slot="icon-only" [name]="playingTrackId === track.id ? 'pause' : 'play'"></ion-icon>
            </ion-button>
          </div>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
