<ion-content [fullscreen]="true" class="reels-content">

  <swiper-container
    direction="vertical"
    slides-per-view="1"
    space-between="0"
    [loop]="false"
    [speed]="350"
    (swiperslidechange)="onSlideChange($event)"
    class="reels-swiper">

    <swiper-slide
      *ngFor="let reel of reels; let i = index"
      class="reel-slide">

      <!-- =========================================
           VIDEO
      ========================================== -->

      <div class="video-wrapper">

        <video
          #videoPlayer
          class="reel-video"
          [src]="reel.videoUrl"
          playsinline
          webkit-playsinline
          loop
          muted
          preload="metadata"
          [autoplay]="i === 0"
          (click)="togglePlayPause(i)">
        </video>

        <!-- Play indicator -->
        <div
          class="play-indicator"
          [class.show]="!reel.isPlaying"
          (click)="togglePlayPause(i)">

          <ion-icon name="play"></ion-icon>

        </div>

      </div>


      <!-- =========================================
           RIGHT SIDE ACTIONS
      ========================================== -->

      <div class="side-actions">

        <!-- LIKE -->

        <button
          class="action-btn"
          type="button"
          (click)="toggleLike(reel)">

          <ion-icon
            [name]="reel.isLiked ? 'heart' : 'heart-outline'"
            [class.liked]="reel.isLiked">
          </ion-icon>

          <span>
            {{ reel.likes }}
          </span>

        </button>


        <!-- COMMENT -->

        <button
          class="action-btn"
          type="button">

          <ion-icon name="chatbubble-outline"></ion-icon>

          <span>
            {{ reel.comments }}
          </span>

        </button>


        <!-- SHARE -->

        <button
          class="action-btn"
          type="button">

          <ion-icon name="paper-plane-outline"></ion-icon>

          <span>
            {{ reel.shares }}
          </span>

        </button>


        <!-- SAVE -->

        <button
          class="action-btn"
          type="button"
          (click)="toggleSave(reel)">

          <ion-icon
            [name]="reel.isSaved ? 'bookmark' : 'bookmark-outline'">
          </ion-icon>

        </button>


        <!-- MORE -->

        <button
          class="action-btn more-action"
          type="button">

          <ion-icon name="ellipsis-vertical"></ion-icon>

        </button>

      </div>


      <!-- =========================================
           BOTTOM USER INFORMATION
      ========================================== -->

      <div class="bottom-info">

        <!-- USER ROW -->

        <div class="user-row">

          <div class="user-profile">

            <ion-avatar class="avatar-img">

              <ion-img
                [src]="reel.userAvatar"
                alt="User Avatar">
              </ion-img>

            </ion-avatar>


            <div class="user-title">

              <div class="username-line">

                <strong>
                  {{ reel.username }}
                </strong>

                <span
                  class="verified"
                  *ngIf="reel.verified">

                  ✓

                </span>

              </div>


              <div class="audio-track">

                <ion-icon name="musical-notes"></ion-icon>

                <span>
                  {{ reel.audioTrack }}
                </span>

              </div>

            </div>

          </div>


          <!-- FOLLOW -->

          <button
            class="follow-button"
            type="button"
            (click)="toggleFollow(reel)">

            {{ reel.isFollowing ? 'Following' : 'Follow' }}

          </button>

        </div>


        <!-- DESCRIPTION -->

        <p class="description">
          {{ reel.description }}
        </p>

      </div>


      <!-- =========================================
           BOTTOM GRADIENT
      ========================================== -->

      <div class="bottom-gradient"></div>

    </swiper-slide>

  </swiper-container>

</ion-content>