<ion-content [fullscreen]="true" class="messages-page">

  <!-- HEADER -->
  <div class="messages-header">
    <div>
      <h1 >Messages</h1>
      <p>Connect with your friends</p>
    </div>

    <button class="new-message-btn">
      <span class="material-symbols-outlined">edit_square</span>
    </button>
  </div>

  <!-- SEARCH -->
  <div class="search-box">
    <span class="material-symbols-outlined">search</span>
    <input
      type="text"
      placeholder="Search messages"
    />
  </div>

  <!-- ONLINE FRIENDS -->
  <div class="online-section">

    <div class="section-title">
      <h2>Online now</h2>
    </div>

    <div class="online-users">

      <div class="online-user">
        <div class="online-avatar">
          <img src="assets/avatar1.jpg" alt="User">
          <span class="online-dot"></span>
        </div>
        <span>Rahul</span>
      </div>

      <div class="online-user">
        <div class="online-avatar">
          <img src="assets/avatar2.jpg" alt="User">
          <span class="online-dot"></span>
        </div>
        <span>Priya</span>
      </div>

      <div class="online-user">
        <div class="online-avatar">
          <img src="assets/avatar3.jpg" alt="User">
          <span class="online-dot"></span>
        </div>
        <span>Rohan</span>
      </div>

      <div class="online-user">
        <div class="online-avatar">
          <img src="assets/avatar4.jpg" alt="User">
          <span class="online-dot"></span>
        </div>
        <span>Ankit</span>
      </div>

      <div class="online-user">
        <div class="online-avatar">
          <img src="assets/avatar5.jpg" alt="User">
          <span class="online-dot"></span>
        </div>
        <span>Neha</span>
      </div>

    </div>

  </div>

  <!-- CHAT LIST -->
  <div class="chat-section">

    <div class="section-title">
      <h2>Recent chats</h2>
      <span>See all</span>
    </div>

    <!-- CHAT 1 -->
    <div class="chat-item">

      <div class="chat-avatar">
        <img src="assets/avatar1.jpg" alt="Rahul">
        <span class="online-dot"></span>
      </div>

      <div class="chat-info">
        <div class="chat-top">
          <h3>Rahul Sharma</h3>
          <span class="time">2:45 PM</span>
        </div>

        <div class="chat-bottom">
          <p>Bro, are you coming tomorrow?</p>
          <span class="unread">2</span>
        </div>
      </div>

    </div>

    <!-- CHAT 2 -->
    <div class="chat-item">

      <div class="chat-avatar">
        <img src="assets/avatar2.jpg" alt="Priya">
        <span class="online-dot"></span>
      </div>

      <div class="chat-info">
        <div class="chat-top">
          <h3>Priya Verma</h3>
          <span class="time">1:30 PM</span>
        </div>

        <div class="chat-bottom">
          <p>That picture looks amazing 🔥</p>
        </div>
      </div>

    </div>

    <!-- CHAT 3 -->
    <div class="chat-item">

      <div class="chat-avatar">
        <img src="assets/avatar3.jpg" alt="Rohan">
      </div>

      <div class="chat-info">
        <div class="chat-top">
          <h3>Rohan Singh</h3>
          <span class="time">Yesterday</span>
        </div>

        <div class="chat-bottom">
          <p>Let's play cricket this evening.</p>
        </div>
      </div>

    </div>

    <!-- CHAT 4 -->
    <div class="chat-item">

      <div class="chat-avatar">
        <img src="assets/avatar4.jpg" alt="Ankit">
      </div>

      <div class="chat-info">
        <div class="chat-top">
          <h3>Ankit</h3>
          <span class="time">Yesterday</span>
        </div>

        <div class="chat-bottom">
          <p>Send me the project files.</p>
        </div>
      </div>

    </div>

    <!-- CHAT 5 -->
    <div class="chat-item">

      <div class="chat-avatar">
        <img src="assets/avatar5.jpg" alt="Neha">
      </div>

      <div class="chat-info">
        <div class="chat-top">
          <h3>Neha Kapoor</h3>
          <span class="time">Monday</span>
        </div>

        <div class="chat-bottom">
          <p>Okay 👍</p>
        </div>
      </div>

    </div>

  </div>

</ion-content>