<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="panels">
      <ion-button fill="clear">
        <ion-label>{{username}}</ion-label>
      </ion-button>
      <div>
        <ion-button fill="clear" (click)="openCreateModel()">
          <ion-icon name="add"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="openNotificationModal()">
          <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="mainHolder">

    <section class="story-panel">
      <div class="story-context">
        <div class="height-light" [class.active]="false">
          <div class="story-relative">
            <ion-avatar class="person">
              <ion-img [src]="getUserAvatar()" alt="User Avatar"></ion-img>
            </ion-avatar>
            <ion-button class="story-add-absolute" fill="clear" shape="round" size="small">
              <ion-icon class="add-btn" slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </div>
        </div>
        <span>Your story</span>
      </div>
      
      <div class="story-context" *ngFor="let item of highlights">
        <div class="height-light" [class.active]="true">
          <ion-avatar class="person">
              <ion-img [src]="item.imgUrl" alt="User Avatar"></ion-img>
          </ion-avatar>
        </div>
        <span>{{item?.username}}</span>
      </div>
      
    </section>

    <div class="post-panel">
      <article class="card-board" *ngFor="let feed of feeds" >
        <div class="post-header">
          <div class="divided">
            <ion-avatar class="avatar-img">
              <ion-img [src]="feed.avatar" alt="User Avatar"></ion-img>  
            </ion-avatar>
            <div class="avatar-title">
              <a><span>{{feed?.username}}</span></a>
              <span>{{feed?.location}}</span>
            </div>
          </div>
          <ion-button shape="round" fill="clear" size="small">
            <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
          </ion-button>
        </div>

        <div class="post-content">
            <ion-img [src]="feed.postUrl"></ion-img>
        </div>

        <div class="post-bottom">
          <div class="toggle-icon">
            <div class="left-toggle">
              <ion-button shape="round" fill="clear" size="small">
                <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
                <span>{{feed?.likes}}</span>
              </ion-button>
              <ion-button shape="round" fill="clear" size="small">
                <ion-icon slot="icon-only" name="chatbox-outline"></ion-icon>
                <span>{{feed?.comments}}</span>
              </ion-button>
              <ion-button shape="round" fill="clear" size="small">
                <ion-icon slot="icon-only" name="paper-plane-outline"></ion-icon>
                <span>{{feed?.shares}}</span>
              </ion-button>
            </div>
            <ion-button shape="round" fill="clear" size="small">
              <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
            </ion-button>
          </div>

          <div class="subtitle-panel">
            <p>{{feed?.likes}} likes</p>
            <p><span>{{feed?.username}}</span> {{feed?.paragraph}}</p>
            <a class="view-btn">View all {{feed?.comments}} comments</a>
            <p class="para">{{feed?.postTime}}</p>
          </div>
        </div>
      </article>
    </div>

    <!-- Create Modal... -->
    <ion-modal [isOpen]="isCreateModal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-button shape="round" size="small" (click)="openCreateModel()" slot="start">
              <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
            <ion-title>New Post</ion-title>            
            <ion-button shape="round" size="small" slot="end">Next</ion-button>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <div class="post-view">
            <div class="image-hold">
                  <ion-img [src]="postUrl"></ion-img></div>
            <div class="fetch-file">
              <div class="btn-header">
                <ion-button shape="round" size="small">Recents</ion-button>
                <ion-button shape="round" size="small">Drafts</ion-button>
                <ion-button shape="round" size="small" slot="end">Select</ion-button>
              </div>
              <div class="grid">
                <ion-icon name="camera"></ion-icon>
                <div *ngFor="let post of posts">
                  <ion-img [src]="post.url" (click)="onChangePost(post.id)"></ion-img>
                </div>
              </div>
            </div>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>

     <!-- Notification.... -->
    <ion-modal [isOpen]="isNotificationModal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Notifications</ion-title>
            <ion-button (click)="openNotificationModal()" slot="start">
              <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
          </ion-toolbar>
        </ion-header>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>
