<ion-header>
  <ion-toolbar color="primary">
    <div class="user-details" 
      (touchstart)="openUserModel(activeUser)"
      (touchend)="endHold()"
      (touchcancel)="endHold()"
      (mousedown)="openUserModel(activeUser)"
      (mouseup)="endHold()"
      (mouseleave)="endHold()"
    >
      <ion-avatar class="msg-person">
        <ion-img [src]="activeUserProfilePic" alt="User Avatar"></ion-img>
      </ion-avatar>
      <ion-title class="U-name">{{ activeUserName || 'Private Chat' }}</ion-title>
    </div>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  

  <ion-modal [isOpen]="isUserModalOpen" (didDismiss)="isUserModalOpen = false">
    
  </ion-modal>
</ion-content>
<ion-footer>
  <ion-toolbar class="input-holder">
    <ion-input
      [(ngModel)]="newMessageText"
      placeholder="Type a message..."
      (keyup.enter)="onSend()"
    ></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="onSend()">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
