<ion-header>
  <ion-toolbar>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="notifications-container">

    <h2>Today</h2>

    <div class="notification">
      <div class="profile-circle">R</div>

      <div class="notification-text">
        <strong>Riya</strong>
        <span> liked your post ❤️</span>
        <small>2m</small>
      </div>

      <div class="post-preview"></div>
    </div>

    <div class="notification">
      <div class="profile-circle">A</div>

      <div class="notification-text">
        <strong>Akash</strong>
        <span> started following you</span>
        <small>10m</small>
      </div>

      <ion-button size="small">
        Follow
      </ion-button>
    </div>

    <div class="notification">
      <div class="profile-circle">P</div>

      <div class="notification-text">
        <strong>Priya</strong>
        <span> commented on your post: "Amazing!" 💬</span>
        <small>30m</small>
      </div>

      <div class="post-preview"></div>
    </div>


    <h2>This week</h2>

    <div class="notification">
      <div class="profile-circle">S</div>

      <div class="notification-text">
        <strong>Saurabh</strong>
        <span> liked your reel 🔥</span>
        <small>2h</small>
      </div>

      <div class="post-preview"></div>
    </div>

    <div class="notification">
      <div class="profile-circle">K</div>

      <div class="notification-text">
        <strong>Karan</strong>
        <span> started following you</span>
        <small>1d</small>
      </div>

      <ion-button size="small">
        Follow
      </ion-button>
    </div>

    <div class="notification">
      <div class="profile-circle">M</div>

      <div class="notification-text">
        <strong>Meera</strong>
        <span> mentioned you in a comment 💬</span>
        <small>2d</small>
      </div>

      <div class="post-preview"></div>
    </div>

  </div>

</ion-content>
