ion-header {
  --background: #1e1e1e;
}

ion-toolbar {
  --background: #1e1e1e;
  --color: #ffffff;
  --border-width: 0;
}

ion-title {
  color: #ffffff;
  font-weight: 600;
}

.page-content {
  padding: 24px;
}